.navBarStyles {
  height: 50px;
  width: 100vw;
  background: #12b0e8;
}

ul {
  margin: 0px;
  list-style: none;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

ul > li > a {
  text-decoration: none;
  color: #fff;
}

ul > li {
  color: #ffffff;
  list-style: none;
  text-decoration: none;
  width: 100px;
  height: 40px;
  background-color: #207398;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 5px;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25vh;
  font-size: 50px;
  color: #3944f7;
}

.footer {
  width: 100vw;
  height: 50px;
  background-color: #12b0e8;
  color: #fff;
  text-align: center;
  font-size: 25px;
  bottom: 0px;
  position: fixed;
}

p {
  display: inline;
}

h1 {
  text-align: center;
}

table,
th,
td {
  border: 1px solid;
}

table {
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  width: 600px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
